:root {
  --color-blanco: #ffffff;
  --color-negro: #000000;
  --color-verde: #099d8d;
  --color-gris: #54585a;
  --color-gris-claro: #b8b8b9;

  /*letra rubik-medium: en header, h1, h2 */
  --letra-rubik-medium: "Rubik", sans-serif

  /*letra OpenSans-SemiBold: lema, botón "ENVIAR" y footer excp. copyright*/
  --letra-open-sans: "Open Sans";

  /* partes no mencionadas usan esta letra*/
  --letra-open-sans2: "OpenSans-Regular";

  /* "NOMBRE DE GRUPO" en Header, <p> de "Equipo", <p> de "Fortalezas", <p> de "Debilidades", <p> de cada "Quién Somos"*/
  --font-size15: 16px;

  /* en <nav> "Equipo", "Quiénes somos", "Contacto"*/
  --font-size16: 15px;

  /* en lema, <h1> de "Equipo" y <h1> de "Quiénes Somos"*/
  --font-size24: 24px;

  /* "Fortalezas" y "Debilidades"*/
  --font-size22: 22px;

  /* Nombres cada Miembro en "Quiénes Somos"*/
  --font-size20: 20px;

  /* Todo Footer */
  --font-size14: 14px;
}
.arriba {
  background-color: #099d8d;
  height: 90px;
}
.lista {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #14d9c4;
  width: 100vw;
  height: 40px;
  transform: translate(0%, 40%);
}
.texto-cabecera {
  color: white;
  text-decoration: none;
  list-style: none;
  text-align: center;
}
.h1 {
  vertical-align: middle;
  padding-top: 1vw;
}
.fortalezas-debilidades {
  background-color: cool-grey;
}

.quienes-somos {
  background-color: white;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}
.picprof {
  width: 180px;
  height: 180px;
  text-align: center;
}
.art-who-r-we {
  width: 290px;
  height: 200px;
  text-align:center;
}

.icon {
  color: #099d8d;
  font-size: 16px;
  display: inline-block;
}

.iconbox {
  width: 124px;
  height: 30px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#equipo,
.Hcontact {
  font-size: 24px;
  color: #14d9c4;
  line-height: 45px;
  text-align: center;
  font-weight: 500px;
  font-family: "Rubik", sans-serif;
}
/*da márgenes a la columna central*/
.container-central-margin {
  margin: 15px 15px;
  position: relative;
}

.titulo-fortalezas-debilidades {
  font-size: 22px;
  color: #099d8d;
  line-height: 45px;
  text-align: center;
  font-family: "Rubik", sans-serif;

}
#QuienesSomos {
  font-size: 24px;
  color: #099d8d;
  line-height: 45px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  line-height: 45px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.triangle {
  height: 50px;
  width: 50px;
  background-color: white;
  transform: rotate(45deg);
  margin: auto;
}
/*el cuarto valor del color de fondo da la opacidad (20%)*/
.fondo-fortalezas-debilidades {
  background-color: rgb(184, 184, 185, 0.2);
  padding: 10px;
}
p {
  font-size: 16px;
  text-align: center;
  color: #54585a;
  font-family: "Open Sans";
  line-height: 24px;
  margin: 15px 15px;
}
h4 {
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 45px;
  text-align: center;
}
.foto-altavoz {
  width: 100%;
  position: relative;
}
.box {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: -50px;
  position: relative;
  z-index: 2;
  background-color: white;
}

.quote p {
  font-family: "Open Sans";
  text-align: center;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  color: black;
  padding: 15px;
  margin: 15px;
  font-weight: bold;
}
.container {
  margin: 15px;
}

.footer {
  border: #b8b8b9 solid 1px;
  background-color: white;

  padding: 30px 74px 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerlink {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #54585a;
  size: 40px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;
  align-items: center;
  text-transform: uppercase;
}
.copy {
  color: #b8b8b9;
  size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}
.logo {
  text-align: center;
}
.adalab {
  width: 115.9px;
  height: 45px;
  padding-top: 30px;
}

/*Contacto*/
.Hcontact {
  margin-top: 58px;
  margin-left: 97.5px;
  margin-right: 95.5px;
}
.contacto {
  margin-bottom: 58px;
}
.text {
  margin: 15px;
}
.asterisco {
  color: #14d9c4;
}
.form {
  font-family: "Open Sans";
  color: grey;
  margin: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 13px;
}

.email {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 13px;
}
.number {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 13px;
}
.message {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 13px;
}
.caja {
  font-family: "Open Sans";
  height: 6vh;
  width: 90vw;
}
.caja2 {
  margin-top: 7px;
  font-family: "Open Sans";
  height: 12vh;
  width: 90vw;
  margin-top: 4px;
}

.boton {
  margin-top: 20px;
  border: 10px;
  text-decoration: none;
  padding: 5px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #099d8d;
  border-radius: 4px;
  width: 100%;
}

@media all and (min-width: 768px) {
  
}

@media all and (min-width: 1200px) {

}