:root {
  --color-blanco: var(##ffffff);
  --color-negro: var(#000000);
  --color-verde: var(#099d8d);
  --color-gris: var(#54585a);
  --color-gris-claro: var(#b8b8b9);

  /*letra rubik-medium: en header, h1, h2 */
  --letra-rubik-medium: var(rubik-medium);

  /*letra OpenSans-SemiBold: lema, botón "ENVIAR" y footer excp. copyright*/
  --letra-open-sans: var(OpenSans-SemiBold);

  /* partes no mencionadas usan esta letra*/
  --letra-open-sans2: var(OpenSans-Regular);

  /* "NOMBRE DE GRUPO" en Header, <p> de "Equipo", <p> de "Fortalezas", <p> de "Debilidades", <p> de cada "Quién Somos"*/
  --font-size15: var(16px);

  /* en <nav> "Equipo", "Quiénes somos", "Contacto"*/
  --font-size16: var(15px);

  /* en lema, <h1> de "Equipo" y <h1> de "Quiénes Somos"*/
  --font-size24: var(24px);

  /* "Fortalezas" y "Debilidades"*/
  --font-size22: var(22px);

  /* Nombres cada Miembro en "Quiénes Somos"*/
  --font-size20: var(20px);

  /* Todo Footer */
  --font-size14: var(14px);
}
.arriba {
  background-color: #099d8d;
  height: 90px;
}
.lista {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #14d9c4;
  width: 100vw;
  height: 40px;
  transform: translate(0%, 40%);
}
.texto-cabecera {
  color: white;
  text-decoration: none;
  list-style: none;
  text-align: center;
}
.h1 {
  vertical-align: middle;
  padding-top: 1vw;
}
.fortalezas-debilidades {
  background-color: cool-grey;
}

.quienes-somos,
fondo equipo {
  background-color: white;
}
.icon {
  color: #099d8d;
  font-size: 16px;
}

.iconbox {
  width: 124px;
  height: 30px;
  display: inline;
}
#equipo {
  font-size: 24px;
  color: #14d9c4;
  line-height: 45px;
  text-align: center;
  font-weight: 500px;
  font-family: "Rubik", sans-serif;
}
.titulo-fortalezas-debilidades {
  font-size: 22px;
  color: #099d8d;
  line-height: 45px;
  text-align: center;
  font-family: "Rubik", sans-serif;
}
#QuienesSomos {
  font-size: 24px;
  color: #099d8d;
  line-height: 45px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  line-height: 45px;
}
.fondo-fortalezas-debilidades {
  background-color: silver;
}
p {
  font-size: 16px;
  text-align: center;
  color: #54585a;
  font-family: "Open Sans";
  line-height: 24px;
}
h4 {
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 45px;
  text-align: center;
}
.foto-altavoz {
}
.quote {
  font-family: "Open Sans";
  text-align: center;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  color: black;
}
.container {
  margin: 15px;
}
<<<<<<< HEAD
=======

.footer {
  border: #b8b8b9 solid 1px;
  background-color: white;

  padding: 30px 74px 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerlink {
  font-family: "Open Sans";
  color: #54585a;
  size: 40px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
  align-items: center;
}
.copy {
  color: #b8b8b9;
  size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
>>>>>>> 5219a048dc593e1fb534c5ff873a07f61d59b391
.picprof {
  width: 20%;
}
