#equipo,
.Hcontact {
  font-size: 24px;
  color: #14d9c4;
  line-height: 45px;
  text-align: center;
  font-weight: 500px;
  font-family: "Rubik", sans-serif;
}
.container-central-margin {
  margin: 15px 15px;
  position: relative;
}

.titulo-fortalezas-debilidades {
  font-size: 22px;
  color: #099d8d;
  line-height: 45px;
  text-align: center;
  font-family: "Rubik", sans-serif;
}
.triangle {
  height: 50px;
  width: 50px;
  background-color: white;
  transform: rotate(45deg);
  margin: auto;
}
.fondo-fortalezas-debilidades {
  background-color: #b8b8b9;
  //rgb(184, 184, 185, 0.2);
  padding: 10px;
}
p {
  font-size: 16px;
  text-align: center;
  color: #54585a;
  font-family: "Open Sans";
  line-height: 24px;
  margin: 15px 15px;
}
.fortalezas-debilidades {
  background-color: cool-grey;
}
