#equipo,
.Hcontact {
  font-size: 24px;
  color: #14d9c4;
  line-height: 45px;
  text-align: center;
  font-weight: 500px;
  font-family: "Rubik", sans-serif;
}
.container-central-margin {
  margin: 15px 15px;
  position: relative;
}

.titulo-fortalezas-debilidades {
  font-size: 22px;
  color: #099d8d;
  margin-top: 10px;
  line-height: 45px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  top: 45px;
}

.triangle {
  height: 30px;
  width: 30px;
  background-color: white;
  transform: translate(0, 10px) rotate(45deg);
  margin: auto;
}

p {
  font-size: 16px;
  text-align: center;
  color: #54585a;
  font-family: "Open Sans";
  line-height: 24px;
  margin: 15px 15px;
}
.fondo-fortalezas-debilidades {
  background-color: rgba(184, 184, 185, 0.1);
  padding: 10px;
}

#equipo {
  text-transform: uppercase;
}

@media all and (min-width: 768px) {
  .fondo-fortalezas-debilidades {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .articulo {
    width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .primero {
    margin-left: 68px;
    margin-right: 23px;
  }
  .segundo {
    margin-right: 68px;
    margin-left: 23px;
  }
}

@media all and (min-width: 1200px) {
  #equipo {
    margin-left: 300px;
    margin-right: 300px;
  }
}
