.footer {
  border: #b8b8b9 solid 1px;
  background-color: white;

  padding: 30px 74px 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerlink {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #54585a;
  size: 40px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;
  align-items: center;
  text-transform: uppercase;
}
.copy {
  color: #b8b8b9;
  size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}
.logo {
  text-align: center;
}
.adalab {
  width: 115.9px;
  height: 45px;
  padding-top: 30px;
}
