.foto-altavoz {
  width: 100vw;
  height: auto;
  background-color: blue;
}

.imagen {
  max-width: 100%;
  height: auto;
  margin-right: 0px;
}
.quote p {
  font-family: "Open Sans";
  text-align: center;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  color: black;
  /*padding: 15px;*/
  /*margin: 15px;*/
  font-weight: bold;
}
.box {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: -50px;
  position: relative;
  padding: 10px;
  z-index: 2;
  background-color: white;
}

@media all and (min-width: 768px) {
  .box {
    width: 441px;
    height: 110px;
    margin-left: 45px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: -130px;
    padding: 20px 10px;
  }
}

@media all and (min-width: 1200px) {
  .box {
    margin: auto;
  }
  quote {
    background-color: red;
    border: 3px solid black;
  }
}
