<section class="quienes-somos">
    <h2 id="QuienesSomos">QUIÉNES SOMOS</h2>
    
    <img src="./assets/images/Angela.png" alt="Angela" class="picprof" />
    <article class="bigart" >
      <h4>Angela M.</h4>
      <p class="art-who-r-we">
        Futura programadora Junior. Gestora del estrés en progreso,
        atribuido por Adalab. Amante de la naturaleza, el deporte, y los
        animales.
      </p>
      <nav class="iconbox">
        <a href="https://twitter.com/?lang=en" target="_BLANK"> <i class="fab fa-twitter icon">·</i> </a>
        <a href="https://www.linkedin.com/login" target="_BLANK"><i class="fab fa-linkedin-in icon">·</i></a>
        <a href="https://github.com/AMirandaRd" target="_BLANK"><i class="fab fa-github-alt icon">·</i></a>
        <a href="#"><i class="fas fa-envelope icon"></i></a>
      </nav>
    </article>
    <img src="../assets/images/Cris.jpg" alt="Cristina" class="picprof"/>
    <article class="bigart">  
      <h4>Cristina Fernández</h4>
      <p class="art-who-r-we">
        Gestora de equipos que decidió dar un cambio a su vida, tras varios
        cursos enfocados a los RRHH, encontré Adalab y cambié el rumbo de mi
        vida, ya que esto era lo que quería para mi.
      </p>
      <nav class="iconbox">
        <a href="https://twitter.com/?lang=en" target="_BLANK"> <i class="fab fa-twitter icon">·</i> </a>
        <a href="https://www.linkedin.com/login" target="_BLANK"><i class="fab fa-linkedin-in icon">·</i></a>
        <a href="https://github.com/CriSFV" target="_BLANK"><i class="fab fa-github-alt icon">·</i></a>
        <a href="https://outlook.live.com/owa/" target="_BLANK"><i class="fas fa-envelope icon"></i></a>
      </nav>
      
    </article>
    
      <img src="./assets/images/Sandra.jpg" alt="Sandra" class="picprof" />
    <article class="bigart">
      <h4>Sandra Fernández</h4>
      <p class="art-who-r-we">
        Traductora, yoguini, formadora, estudiante de la vida y futura
        programadora. Comprometida con el reto de permanecer atenta momento
        a momento: he aprendido que ahí es donde la realidad siempre supera
        la ficción.
      </p>
      <nav class="iconbox">
          <a href="https://twitter.com/?lang=en" target="_BLANK"> <i class="fab fa-twitter icon">·</i> </a>
          <a href="https://www.linkedin.com/login" target="_BLANK"><i class="fab fa-linkedin-in icon">·</i></a>
          <a href="https://github.com/SandraFernandz target=_BLANK"><i class="fab fa-github-alt icon">·</i></a>
          <a href="https://outlook.live.com/owa/" target="_BLANK"><i class="fas fa-envelope icon"></i></a>
        </nav>
    </article>
    <img src="./assets/images/Sheila.png" alt="Sheila" class="picprof"/>
    <article class="bigart">
      <h4>Sheila Arenillas</h4>
      <p class="art-who-r-we">
        Desarrolladora Web en proceso, con muchas ganas de seguir formandome
        en este mundo, apasionada de los animales, de la fotografía, de la
        música y de la comida.
      </p>
      <nav class="iconbox">
        <a href="https://twitter.com/?lang=en" target="_BLANK"> <i class="fab fa-twitter icon">·</i> </a>
        <a href="https://www.linkedin.com/login" target="_BLANK"><i class="fab fa-linkedin-in icon">·</i></a>
        <a href="https://github.com/Sheiilaa" target="_BLANK"><i class="fab fa-github-alt icon">·</i></a>
        <a href=https://outlook.live.com/owa/" target="_BLANK"><i class="fas fa-envelope icon"></i></a>
      </nav>
    </article>
    <img src="./assets/images/Veves.jpg" alt="Veves" class="picprof" />
    <article class="bigart">
      <h4>Veves Porlán</h4>
      <p class="art-who-r-we">
        Estudiante de Gestión Cultural, me apasiona organizar y gestionar
        proyectos,en los cuales puedo mostrar mi creatividad. Además soy una
        personas muy sociable, debido a lo cual trabajo bien en equipo.
      </p>
      <nav class="iconbox">
        <a href="https://twitter.com/?lang=en" target="_BLANK"> <i class="fab fa-twitter icon">·</i> </a>
        <a href="https://www.linkedin.com/login" target="_BLANK"><i class="fab fa-linkedin-in icon">·</i></a>
        <a href="https://github.com/veves" target="_BLANK"><i class="fab fa-github-alt icon">·</i></a>
        <a href="https://outlook.live.com/owa/" target="_BLANK"><i class="fas fa-envelope icon"></i></a>
      </nav>
    </article>
  </section>
