<section>
<div class="container-central-margin">
  <article>
         
  <h2 id="equipo">Equipo</h2>
  <p>
    Cinco mujeres emprendedoras y entusiastas, de distintas partes del
    mundo pero con un objetivo común: dar un cambio en sus vidas,
    luchando por un mismo sueño.
  </p>
</div> 
<div class="triangle"></div>
</article>
<div class="fondo-fortalezas-debilidades">
<article class="articulo primero">
  <h3 class="titulo-fortalezas-debilidades">Fortalezas</h3>
  <p>
    Sabemos que más allá de nuestras diferencias hay mucho que
    compartimos. Hemos transformado nuestras diferencias en cualidades
    que aportan, suman y enriquecen el grupo. Hemos creado un equipo
    equilibrado, con la capacidad de aprender rápido.
  </p> 
</article>
<article class="articulo segundo">
  <h3 class="titulo-fortalezas-debilidades">Debilidades</h3>

  <p>
    Ocasionalmente divagamos y nos abstraemos del foco principal. Nos da
    miedo dar el primer paso por si nos equivocamos, ya que preferimos
    ir sobre seguro.
  </p>
</article>
</div>
</article>
</section>