<footer class="footer">
  <div class="copy">las mosqueteras &copy;2021</div>
  <nav class="footermenu">
    <a class="footerlink" href="./index.html#equipo">Equipo</a>
    <a class="footerlink" href="./index.html#QuienesSomos">Quienes somos</a>
    <a class="footerlink" href="./contact.html">Contacto</a>
  </nav>
  <div class="logo">
    <a href="https://adalab.es/" target="_BLANK">
      <img
        class="adalab"
        src="./assets/images/logo-adalab.png"
        alt="Logo adalab"
        title="Ir a Adalab"
      />
    </a>
  </div>
</footer>
<!--  -->
