<section class="about-us">

  <h2 class="tittle-aboutus" id="QuienesSomos">QUIÉNES SOMOS</h2>
  
  
  <article class="art-about-us art-ang" >

    <img src="./assets/images/Angela.png" alt="Angela" class="picprof angelapic"/> 

    <div class="box-art box-left">

      <h4 class="name-us">Angela M.</h4>
      <p class="description">
        Trabajadora social y mediadora de conflictos.Futura programadora Junior. Gestora del estrés en proceso (gracias a Adalab). Amante de la naturaleza, el deporte, los animales y la comida asiatica.
      </p>
      <nav class="iconbox icon-left">
        <a href="https://twitter.com/?lang=en" target="_BLANK"> <i class="fab fa-twitter icon">·</i> </a>
        <a href="https://www.linkedin.com/login" target="_BLANK"><i class="fab fa-linkedin-in icon">·</i></a>
        <a href="https://github.com/AMirandaRd" target="_BLANK"><i class="fab fa-github-alt icon">·</i></a>
        <a href="#"><i class="fas fa-envelope icon"></i></a>
      </nav>
    </div>
  </article>

  
    <article class="art-about-us art-cris">
      <img src="./assets/images/Cris.jpg" alt="Cristina" class="picprof crispic"/>

      <div class= "box-art box-right">

        <h4 class="name-us">Cris Fernández</h4>
        <p class="description desc-right">
          Gestora de equipos, técnico de RRHH y, gracias a Adalab, futura programadora. Enamorada de la vida y con muchas ganas de aprovechar todo lo que te pueda ofrecer.
        </p>
        <div class="iconbox icon-right">
          <a href="https://twitter.com/?lang=en" target="_BLANK"> <i class="fab fa-twitter icon">·</i> </a>
          <a href="https://www.linkedin.com/login" target="_BLANK"><i class="fab fa-linkedin-in icon">·</i></a>
          <a href="https://github.com/CriSFV" target="_BLANK"><i class="fab fa-github-alt icon">·</i></a>
          <a href="https://outlook.live.com/owa/" target="_BLANK"><i class="fas fa-envelope icon"></i></a>
        </div>
      </div>
    </article>
  
  
    
  <article class="art-about-us art-sandra">
    <img src="./assets/images/Sandra.jpg" alt="Sandra" class="picprof sanpic" />

    <div class="box-art box-left">
      <h4 class="name-us" >Sandra Fernández</h4>
      <p class="description">
        Traductora, yoguini, formadora, estudiante de la vida y futura
        programadora. Comprometida con el reto de permanecer atenta momento
        a momento: he aprendido que ahí es donde la realidad siempre supera
        la ficción.
      </p>
      <nav class="iconbox icon-left">
          <a href="https://twitter.com/?lang=en" target="_BLANK"> <i class="fab fa-twitter icon">·</i> </a>
          <a href="https://www.linkedin.com/login" target="_BLANK"><i class="fab fa-linkedin-in icon">·</i></a>
          <a href="https://github.com/SandraFernandz target=_BLANK"><i class="fab fa-github-alt icon">·</i></a>
          <a href="https://outlook.live.com/owa/" target="_BLANK"><i class="fas fa-envelope icon"></i></a>
      </nav>
    </div>
  </article>
  
    <article class="art-about-us art-sheila">
      <img src="./assets/images/Sheila.png" alt="Sheila" class="picprof sheilapic"/>
      <div class="box-art box-right">
        <h4 class="name-us">Sheila Arenillas</h4>
        <p class="description desc-right ">
          Desarrolladora Web en proceso, con muchas ganas de seguir formandome
          en este mundo, apasionada de los animales, de la fotografía, de la
          música y de la comida.
        </p>
        <nav class="iconbox icon-right">
          <a href="https://twitter.com/?lang=en" target="_BLANK"> <i class="fab fa-twitter icon">·</i> </a>
          <a href="https://www.linkedin.com/login" target="_BLANK"><i class="fab fa-linkedin-in icon">·</i></a>
          <a href="https://github.com/Sheiilaa" target="_BLANK"><i class="fab fa-github-alt icon">·</i></a>
          <a href=https://outlook.live.com/owa/" target="_BLANK"><i class="fas fa-envelope icon"></i></a>
        </nav>
      </div>
    </article>
    
    <article class="art-about-us art-veves">
    <img src="./assets/images/Veves.jpg" alt="Veves" class="picprof vevespic" />
      
    <div class="box-art box-left">
        <h4 class="name-us">Veves Porlán</h4>
        <p class="description">
          Estudiante de Gestión Cultural, me apasiona organizar y gestionar
          proyectos,en los cuales puedo mostrar mi creatividad. Además soy una
          personas muy sociable, debido a lo cual trabajo bien en equipo.
        </p>
        <nav class="iconbox icon-left">
          <a href="https://twitter.com/?lang=en" target="_BLANK"> <i class="fab fa-twitter icon">·</i> </a>
          <a href="https://www.linkedin.com/login" target="_BLANK"><i class="fab fa-linkedin-in icon">·</i></a>
          <a href="https://github.com/veves" target="_BLANK"><i class="fab fa-github-alt icon">·</i></a>
          <a href="https://outlook.live.com/owa/" target="_BLANK"><i class="fas fa-envelope icon"></i></a>
        </nav>
      </div>
    </article>
  </section>
