$color-blanco: #ffffff;
$color-negro: #000000;
$color-verde: #099d8d;
$color-gris: #54585a;
$color-gris-claro: #b8b8b9;

/*letra rubik-medium: en header, h1, h2 */
$letra-rubik-medium: "Rubik", sans-serif;

/*letra OpenSans-SemiBold: lema, botón "ENVIAR" y footer excp. copyright*/
$letra-open-sans: "Open Sans", sans-serif;

/* partes no mencionadas usan esta letra*/
$letra-open-sans2: "OpenSans-Regular";

/* "NOMBRE DE GRUPO" en Header, <p> de "Equipo", <p> de "Fortalezas", <p> de "Debilidades", <p> de cada "Quién Somos"*/
$font-size15: 16px;

/* en <nav> "Equipo", "Quiénes somos", "Contacto"*/
$font-size16: 15px;

/* en lema, <h1> de "Equipo" y <h1> de "Quiénes Somos"*/
$font-size24: 24px;

/* "Fortalezas" y "Debilidades"*/
$font-size22: 22px;

/* Nombres cada Miembro en "Quiénes Somos"*/
$font-size20: 20px;

/* Todo Footer */
$font-size14: 14px;
