.foto-contacto {
  width: 100vw;
  height: auto;
}
.Hcontact {
  margin-top: 58px;
  margin-left: 97.5px;
  margin-right: 95.5px;
}
.contacto {
  margin-bottom: 58px;
  font-family: $letra-open-sans;
}
.text {
  margin: 15px;
}
.asterisco {
  color: #14d9c4;
}
.form {
  font-family: "Open Sans";
  color: grey;
  margin: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 13px;
}

.email {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 13px;
}
.tel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 13px;
}
.message {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 13px;
}
.caja {
  font-family: "Open Sans";
  height: 6vh;
  width: 90vw;
}
.caja2 {
  font-family: "Open Sans";
  height: 6vh;
  width: 90vw;
}

.caja3 {
  font-family: "Open Sans";
  height: 6vh;
  width: 90vw;
}

.caja4 {
  margin-top: 7px;
  font-family: "Open Sans";
  height: 12vh;
  width: 90vw;
  margin-top: 4px;
}

.boton {
  margin-top: 20px;
  border: 10px;
  text-decoration: none;
  padding: 5px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #099d8d;
  border-radius: 4px;
  width: 100%;
}
/*tablet*/
@media all and (min-width: 768px) {
  .pagina {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .Hcontact {
    padding: 30px, 319.5px, 711px, 321.5px;
  }
  .contacto {
    width: 442px;
    height: 200px;
    margin-top: 15px;
    margin-left: 163px;
    margin-right: 200px;
  }

  .form {
    margin-bottom: 58px;
    margin-left: 163px;
  }
  .name {
    display: flex;
    flex-direction: column;
    width: 442px;
  }
  .email {
    display: flex;
    flex-direction: column;
  }
  .tel {
    display: flex;
    flex-direction: column;
  }
  .menssage {
    margin-right: 163px;
    display: flex;
    flex-direction: column;
  }
  .caja {
    width: 442px;
    height: 45px;
    margin-right: 163px;
  }
  .caja2 {
    width: 442px;
    height: 45px;
    margin-right: 163px;
  }
  .caja3 {
    width: 442px;
    height: 45px;
    margin-right: 163px;
  }
  .caja4 {
    width: 442px;
    height: 105px;
  }
  .boton {
    width: 206px;
    height: 45px;
    position: relative;
    left: 237px;
    margin-top: 30px;
    margin-bottom: 60px;
  }
}
/*Desktop*/
@media all and (min-width: 1200px) {
  .foto-contacto {
    width: 100%;
  }
  .pagina {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
  }
  .contacto {
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .form2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-right: 750px;
    width: 601px;
  }

  .name {
    margin-left: 300px;
    display: flex;
    flex-direction: column;
  }

  .left {
    display: flex;
    flex-direction: row;
  }
  .email {
    margin-left: 300px;

    display: flex;
    flex-direction: column;
    float: left;
  }
  .tel {
    position: relative;
    right: 0px;
  }
  .menssage {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-top: 10px;
  }
  .caja {
    width: 600px;
    height: 45px;
    margin-bottom: 15px;
  }

  .caja2 {
    width: 395px;
    height: 45px;
    margin-right: 50px;
  }
  .caja3 {
    height: 45px;
    width: 162px;
  }
  .caja4 {
    height: 115px;
    width: 601px;
  }
  .boton {
    width: 278;
    height: 45px;
    margin-left: 400px;
  }
}
