.footer {
  border-top: #b8b8b9 solid 1px;
  background-color: white;
  padding: 30px 0px 45px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: 768px) {
    padding: 0px;
  }
  @media (min-width: 1200px) {
    padding: 0px 138px 0px 138px;
  }
}
.footermenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  @media (min-width: 768px) {
    align-items: flex-end;
    margin: 24px 45px 56px 0px;
    transform: translate(0, -55px);
  }
}

.footerlink {
  font-family: $letra-open-sans;
  font-weight: bold;
  color: $color-gris;
  size: $font-size14;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
}
.copy {
  color: $color-gris-claro;
  size: $font-size14;
  line-height: 20px;
  text-align: center;
  padding-bottom: 20px;
  text-transform: capitalize;
  @media (min-width: 768px) {
    text-align: left;
    padding: 0px;
    margin: 30px 0px 15px 45px;
  }
}

.logo {
  text-align: center;
  @media (min-width: 768px) {
    text-align: left;
    position: absolute;
    margin: 15px 0px 60px 45px;
  }
}
.adalab {
  width: 115.9px;
  height: 45px;
  margin-top: 30px;
}
