.about-us {
  background-color: white;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   @media (min-width: 768px){ display: flex;}}

.tittle-aboutus{
  font-size: 24px;
  color: #099d8d;
  line-height: 45px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  line-height: 45px;
  margin-top: 30px;
  margin-bottom: 30px;}

.art-about-us
{ display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 20px;
  @media (min-width: 768px) 
  {display: flex; display: row;}}

  .box-art {display:flex;
  flex-direction: column;
align-items: center;
justify-content: center;}

  .box-left { @media (min-width: 768px) 
    {display: flex;
      flex-direction: column;
      align-items: flex-start;}}


  .box-right { @media (min-width: 768px) 
    {display: flex;
      flex-direction: column;
      align-items: flex-end;}}


.picprof {
  width: 180px;
  height: 180px;
  @media (min-width: 768px) {
  width: 205px;
  height: 205px;}
}

.description {
  width: 290px;
  text-align: center;
  @media (min-width: 768px) { width: 443px;
  height: 122px; margin: 45px 0 15px 31px;
  font-family: OpenSans;
  font-size: 16px; line-height: 1.5;}
}
.art-cris,
.art-sheila { display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   @media (min-width: 768px) {
  display: flex;
  flex-direction: row-reverse;
}}
.art-veves,
.art-sandra,
.art-ang { display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   @media (min-width: 768px) {
  display: flex;
  flex-direction: row;
}}

.icon {
  color: #099d8d;
  font-size: 16px;
  display: inline-block;
}

.iconbox {
  width: 124px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  @media (min-width: 768px) {
    icon-left {color: #099D8D;
      size: 16px;
      display: flex;
      justify-content: left;
      padding-left: 0;}
  }
}

.name-us {
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  margin-top: 15px;
}